<div class="app">
  <app-sidenav>
    <app-toolbar></app-toolbar>
    <main>
      <mat-card class="info">Toggle the dark mode on your device to see this app changing its colors.</mat-card>
      <mat-card>
        <div>
          <h1>Angular Components:</h1>
        </div>

        <div>
          <h2>Date picker</h2>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <h2>Chips</h2>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
    </main>
  </app-sidenav>
</div>
